* {
    padding: 0px;
    margin: 0px;
}

#rootReactVNB {
    display: none;
}

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 200px;
    justify-content: center;
}

.sidebar, .sidebar-relative {
    display: flex;
    flex-direction: column;
    gap: 80px;

    width: 200px;
    height: 100vh;
    padding: 20px;
    border: 2px solid #858585;
    position: fixed;

    left: 0;
    bottom: 0;   
    overflow-y: auto;
    background-color: #FFFEFD;
}

.sidebar-relative{
    position: relative;
    visibility: hidden;
}

.sidebar-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 65px;
}

.sidebar-head img {
    max-width:  60px;
    max-height: 60px;
    margin: 0px;
    padding: 0px;
}

.sidebar-head .group-label{
    color: #1C1C1C;
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 5px;
}

.sidebar-body {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-left: 8px;
}

.sidebar-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.sidebar-group img {
    max-width: 50px;
    max-height: 50px;
}

.sidebar-group .group-label {
    color: #858585;
    font-size: 20px;
}

.sidebar-group .clicked {
    color: #FF7008;
    font-weight: bold;
}

.group-label {
    margin-left: 20px;
}

/* Nadjib code here:*/

.profile-edit *{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #FFFEFD;
}

.profile-edit div,
.profile-edit form{
    display: flex;
}

.profile-edit{
    flex-direction: column;
    align-items: center;
    gap: 22px;
    margin: 50px;
    align-items: center;
    width: min(680px, calc(100% - 300px));
    padding: 20px;

}

.profile-edit .profile-head{
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.profile-edit .profile-title{
    font-size: 32px;
    font-weight: 600;
}

.profile-edit .profile-picture{
    border-radius: 50%;
    background-image: url('');
    background-color: #FF7008;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 120px;
}

.profile-edit .profile-form{
    flex-direction: column;
    gap: 33px;
    width: 100%;

}

.profile-edit .profile-inputs{
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 17px;

}

.profile-edit .input-block-sm,
.profile-edit .input-block{
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.profile-edit .input-block{
    width: 100%;
}

.profile-edit .input-block-sm{
    width: min(297px, 100%);
}

.profile-edit input,
.profile-edit select{
    width: 100%;
    height: 59px;
    border: solid 2px #858585;
    border-radius: 5px;
    padding: 19px;
    font-weight: 500;
    font-size: 16px;
}

.profile-edit .profile-buttons{
    justify-content: flex-start;
    gap: 20px;

}

.profile-edit .profile-btn{
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
    background-color: #FF7008;
    color: white;
    border: solid 2px #FF7008;
    padding: 10px 51px;
    border-radius: 5px;
    cursor: pointer;
}

.profile-edit .cancel{
    background-color: white;
    color: #FF7008;
    
}

@media screen and (max-width: 1000px){
    .profile-edit .profile-inputs{
        flex-direction: column;
    }

    .profile-edit .input-block-sm{
        width: 100%;
    }

    .profile-edit .profile-head{
        flex-direction: column-reverse;
        gap: 25px;
    }
}

@media only screen and (min-width: 200px) and (max-width: 800px) {
    .sidebar-relative{
        display: none;
    }

    .profile-edit{
        margin-inline: 0;
        margin-bottom: 100px;
        width: min(630px, 90%);
    }

    .sidebar {
        flex-direction: row;
        align-items: center;
        gap: 0px;
        width: 100%;
        height: 60px;
        padding: 0px;

        border: 0px;
        bottom: 0;
    
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    }

    .group-label {
        display: none;
        
    }


    .sidebar-head {
        display: none;
    }

    .sidebar-body {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
        margin: 0px;
        gap: 0px;
    }


    .sidebar-group img {
        max-width: 35px;
        max-height: 35px;

    }
}

@media screen and (max-width: 374px){
    .profile-edit .profile-buttons{
        flex-direction: column-reverse;
    }

    .profile-edit .profile-btn{
        width: 100%;
    }

    .sidebar-group img {
        max-width: 25px;
        max-height: 25px;

    }


}